<h3>Links</h3>
<ul class="links">
    <li>
        <svg class="fa-icon">
            <use href="/assets/fontawesome/sprites/brands.svg#github"/>
        </svg>
        <a href="https://github.com/PlantGGHLab">
            PlantGGHLab
        </a>
    </li>
    <li>
        <svg class="fa-icon">
            <use href="/assets/fontawesome/sprites/brands.svg#twitter"/>
        </svg>
        <a href="https://twitter.com/liu3zhen">
            liu3zhen
        </a>
    </li>
</ul>

<hr/>

<address style="white-space: pre; font-style: normal">
    Liu Lab
    4022 Throckmorton Hall
    1712 Claflin Rd
    Manhattan, KS 66502
    {% phone +1 (785) 532-1412 %}
</address>
